---
apiVersion: v1
kind: Service
metadata:
  name: daily-backend
  annotations:
    alb.ingress.kubernetes.io/healthcheck-path: "/dailys"
spec:
  selector:
    app: daily-backend
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP